<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

<div class="container">
    <h1>Pergunta</h1>
    <div class="card">
        <div class="card-header">
            <h4><%= pergunta.titulo %></h4>
        </div>
        <div class="card-body">
            <p><%= pergunta.descricao %></p>
        </div>
    </div>    

    <form method="POST" action="/responder">
        <hr>
        <label>Responder</label>
        <textarea name="corpo" placeholder="Digite sua resposta" class="form-control"></textarea>
        <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
        <button type="submit" class="btn btn-primary">Responder</button>
    </form>

    <h3>Respostas</h3><hr>

    <% respostas.forEach(resposta =>{ %>        
        <div class="card">
            <div class="card-body">
                <p><%= resposta.corpo %></p>
            </div>
        </div>
        <br>
    <% }) %>

</div>

<%- include ('partials/footer.ejs')%>